@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&family=Staatliches&display=swap');

*{
      margin: 0;
      padding: 0;
}
body{
           width: 100%;
           height: 100%;
           margin: 0px;
           padding: 0px;
           overflow-x: hidden;

    font-family: "Montserrat",sans-serif;
    background: black;
    color: #fff;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
}

.nav-bar {
  padding: 1rem 1.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition :0.6;
    z-index: 10000;
}

.sticky-navbar {
    right:0px;
    margin: 10px 0;
    position: fixed;
    padding: 0.3125rem 5rem;
    background: #f4f9f4cb;
    transition: 1s;
}

.logo {
    width: auto;
    height: auto;
    max-width: 100px;
    transition: 0.6s;
    
}

.navbar-brand{
    display: none;
}

.sticky-navbar .navbar-brand{
    display: inline;
    position: relative;
    right: 30%;
   text-decoration: none;
   color: rgba(3, 3, 68, 0.904);
     font-weight: 900;
   font-size: 30px;
 font-style: oblique;
    
}

.sticky-navbar #outter-btn{
    color: #2f3031e0;
}
.nav-btn{
    display: inline-block;
    color: #fff;
    font-size: 22px;
    
}

.hide{
    transition: 0.6s ease-in-out 0.3s;
    display: none;
}

#nav-menu {
    position: fixed;
    width: 70%;
    top: 0;
    right: 0;
    text-align: left;
    height: 100%;
    background: rgba(36, 41, 44, 0.9);
    z-index: 7;
}

#inner-btn {
    display: block;
    text-align: right;
    padding: 1em 0.7em;
}

#outter-btn{
    padding: 1.25rem 0.5rem;
}

#nav-menu  a{
    display: block;
    text-decoration: none;
    color: rgba(212, 209, 209, 0.76);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    width: 100%;
    padding: 1em 2em;

}

#nav-menu a:hover {
    background: #8a8a8afa;
    ;
}

.current {
    color: #fff;
}



.banner {
    color: rgba(255, 255, 255, 0.966);
    padding: 200px 4rem 100px;
    text-align: center;
    background: rgb(9, 41, 121);
    background-image: linear-gradient(90deg, rgba(13, 29, 68, 0.748) 38%, rgba(18, 86, 105, 0.928) 100%),
    url("images/membership-bg1.jpg");
    background-size: cover;
}

.banner .col-md-6{
    padding: 1.5rem 2.5rem;
}

.banner .fas{
    color:#35e0ad;
    font-size: 30px;
    padding-right: 0.25em;
}

.banner h1{
    font-size: 4em;
    font-weight: 700;
}
.banner h2 {
    padding-top:2rem;
    display: inline-block;
    color: #35e0ad;
    font-size: 30px;
    font-weight: 500;
}

.banner h3{
    font-size: 1.5rem;
}

.banner a{
    color: rgba(255, 255, 255, 0.966);
    text-decoration: none;
}

.banner li {
    border-top: 1px solid #35e0ad;
}
.banner li p{
    padding: 1rem 0.5rem 0.2rem;
}

#registration {
    padding: 5.5rem 0;
    background-color: #f1f6f9;
    color: rgba(44, 42, 42, 0.808);
}

.price {
    font-weight: 500;
    text-align: center;
    padding: 0 0.25rem;
}

.price table {
    margin-top: 2rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0);
}

.price th,
td {
    padding: 2rem 0.1rem;
}

.price thead th:nth-child(1) {
    width: 15%;
}

.price thead th:nth-child(2) {
    width: 25%;
}

.price thead th:nth-child(1) {
    width: 35%;
}

.price thead th:nth-child(1) {
    width: 25%;
}

.price .cta{
    font-size: 0.8em;
    color: gray;
}
.disclaimer{
       color: gray;
    padding-top: 1rem;
    font-size: 0.8em;
}

#registration .row{
    padding: 3rem 1.5rem;
    font-weight: 600;
}

.error{
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    font-weight: 600;
    border-radius:12px ;
    background-color: rgba(226, 93, 93, 0.815);
}

.error a{
    width: 10%;
    border-radius: 12px;
    background-color: #0f77e7da;
    padding: 0.5rem 1rem;
    color: #fff;
}
#registration .col-md-6{
     margin: 2rem 0;
}

#registration form{
    padding: 3rem;
    border-radius: 34px;
    background: #f0f6f9;
    box-shadow: 5px 5px 10px #b2b6b8,
    -5px -5px 10px #ffffff;
  
}
.form-group{
    text-align: left;
    display: block;
}

.form-group label{
    padding: 0.75rem;
    padding-left: 0;
}

.val-input{
    padding: 0.35rem;
    line-height: 0.9;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0, 0);
}

.form-group select{
     padding: 0.35rem;
     line-height: 0.9;
     width: 60%;
     border-radius: 0.25rem;
     border: 1px solid rgba(0, 0, 0, 0);
}



#registration .btn{
    display: block;
    margin: 2.5rem auto;
    
}

.qr-code{
        padding: 1rem;
        border-radius: 34px;
        background: #f0f6f9;
        box-shadow: 5px 5px 10px #b2b6b8,
        -5px -5px 10px #ffffff;
}

.qr-code:hover{
    transition: 0.6s ease-in-out;
    transform: scale(1.05);
}

.qr-code img{
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.instructions{
    
    margin-top: 1rem;
     padding: 3rem;
     border-radius: 34px;
     background: #f0f6f9;
     box-shadow: 5px 5px 10px #b2b6b8,
     -5px -5px 10px #ffffff;
     }

.instructions h3{
    text-align: center;
    padding-bottom: 1rem;
}

.instructions ol li{
    padding: 0.75rem;
    list-style:decimal;
}

 footer {
     background-color: #000;
     z-index: 2;
     padding: 4rem 3rem;
     text-align: left;
 }

 footer ul li {
     margin: 1rem auto 5rem;
     padding: 0 1rem;
     display: inline-block;
 }

 .footer-links i {
     font-size: 32px;
 }
 .contact-mail{
     color:#007bff;
     font-size:16px;
     text-align: left;
 }

 footer .col-md-6{
     padding: 0;
 }

 footer h3 {
     font-size: 1rem;
     color: #d0d1d1;
 }

 footer p {
     margin-top: 10px;
     text-align: center;
     font-size: 0.7rem;
     color: #495057;
 }

 address {
     width: 100%;
     font-size: 0.9rem;
 }

@media (min-width:1024px)
{
    .show-desktop{
        display: inline;
    }

    .hide-mobo{
        display: none;
    }

    #inner-btn{
        display: none;
    }
    .logo{
        position: relative;
    }
    #nav-menu{
        position: relative;
        width:  70%;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0;
        height: 0%;
    }  

    #nav-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #nav-menu a{
        display: inline-block;
        width: auto;
        color: #f4f9f4e0;
      }

    #nav-menu a:hover{
        font-size: 1.35em;
        transition: fontsize 0.15s ease ;
        background:rgba(0, 0, 0, 0);
        padding: 0 1em;
        color: #fff;
    } 

    .current{
        color: inherit;
         padding-bottom: 10px;
         border-bottom-style: solid;
         border-bottom-width: 3.1px;
         width: fit-content;
    }

    .banner {
        text-align: left;
    }

    .sticky-navbar .navbar-brand {
        display: inline;
        position: relative;
        left: 0.1%;
        text-decoration: none;
        color: rgba(3, 3, 68, 0.904);
        font-weight: 900;
        font-size: 35px;
        font-style: oblique;

    }

    .sticky-navbar #nav-menu {
    background:#f4f9f400;
    }

    .sticky-navbar #nav-menu a:hover{
          font-size: 1.35em;
          transition: fontsize 0.15s ease;
          background:rgba(0, 0, 0, 0);
          padding: 0 1em;
          color: black;
    }

    .sticky-navbar .current {
        color: inherit;
        padding-bottom: 10px;
        border-bottom-style: solid;
        border-bottom-width: 3.1px;
        width: fit-content;
    }

    .sticky-navbar #nav-menu a {
        color: rgba(44, 42, 42, 0.952);
    }

    footer address{
        width: 50%;
    }

}


/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */