@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background:rgb(24, 186, 207);

    color: #fff;
      background-color: #51adcf;
      animation-name: change_color;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      z-index: 1;
}

@keyframes change_color {
          0% {
              background-color: #51adcf;
          }
          40% {
              background-color: #99f3bd;
          }

          80%{
             background-color:#f56a79;
          }
}


p {
    font-size: 1.1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
}


.nav-bar {
    margin: 3.5rem 1.5rem;
    padding: 0 3.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6;
    z-index: 1000000;
   
}

.sticky-navbar {
    margin: 10px;
    position: fixed;
    padding: 0.3125rem 5rem;
    background: #f4f9f4cb;
    transition: 1s;
}

.logo {
    width: auto;
    height: auto;
    max-width: 100px;
    transition: 0.6s;
}

.navbar-brand {
    display: none;
}

.sticky-navbar .navbar-brand {
    display: inline;
    position: relative;
    right: 30%;
    text-decoration: none;
    color: rgba(3, 3, 68, 0.904);
    font-weight: 900;
    font-size: 35px;
    font-style: oblique;

}


.sticky-navbar #outter-btn {
    color: #2f3031e0;
}

.nav-btn {
    display: inline-block;
    color: #fff;
    font-size: 22px;

}

#outter-btn {
    color: black;
}

.hide {
    transition: 0.6s ease-in-out 0.3s;
    display: none;
}

#nav-menu {
    position: fixed;
    width: 70%;
    top: 0;
    right: 0;
    text-align: left;
    height: 100%;
    background: rgba(36, 41, 44, 0.9);
    z-index: 7;
}

#inner-btn {
    display: block;
    text-align: right;
    padding: 1em 0.7em;
}

#outter-btn {
    padding: 1.25rem 0.5rem;
}

#nav-menu a {
    display: block;
    text-decoration: none;
    color: rgba(212, 209, 209, 0.76);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    width: 100%;
    padding: 1em 2em;

}


#nav-menu a:hover {
    background: #8a8a8afa;
    ;
}

.current {
    color: #fff;
}

main{
    height: 800px;
}

#content{
  
    text-align: center;

    margin: 200px auto;

}

img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0);
}
form{
    padding: 1.5rem;
}

.ml15 {
    padding: 2rem;
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}


input{
    margin: 0 auto;
    display: block;
    width: 60%;
    line-height: 2;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.35s ease-in-out;
    color: #495057;
    text-align:center;
}

input:hover{
    width: 80%;
}

.btn{
    display: block;
    margin: 1.5rem auto;
    border-radius: 10px;

}

 footer {
     background-color: #000;
     z-index: 2;
     padding: 4rem 5rem;
     text-align: left;
 }

 footer ul li {
     margin: 1rem auto 5rem;
     padding: 0 1rem;

     display: inline-block;
 }

 .footer-links i {
     font-size: 32px;
 }

 footer h3 {
     font-size: 1rem;
     color: #495057;
 }

 footer p {
     margin-top: 10px;
     text-align: center;
     font-size: 0.7rem;
     color: #495057;
 }

 address {
     width: 50%;
     font-size: 0.9rem;
 }

 @media (min-width:1024px) {
     .show-desktop {
         display: inline;
     }

     .hide-mobo {
         display: none;
     }

     #inner-btn {
         display: none;
     }

     .logo {
         position: relative;
     }

     #nav-menu {
         position: relative;
         width: 70%;
         background-color: rgba(0, 0, 0, 0);
         margin-top: 0;
         height: 0%;
     }

     #nav-menu {
         display: flex;
         justify-content: space-around;
         align-items: center;
     }

     #nav-menu a {
         display: inline-block;
         width: auto;
         color: #2b2b2be0;
     }

     #nav-menu a:hover {
         font-size: 1.35em;
         transition: fontsize 0.15s ease;
         background: rgba(0, 0, 0, 0);
         padding: 0 1em;
         color: rgba(26, 26, 26, 0.877);
     }

     .current {
         color: inherit;
         padding-bottom: 10px;
         border-bottom-style: solid;
         border-bottom-width: 3.1px;
         width: fit-content;
     }


     .sticky-navbar .navbar-brand {
         display: inline;
         position: relative;
         left: 0.1%;
         text-decoration: none;
         color: rgba(3, 3, 68, 0.904);
         font-weight: 900;
         font-size: 35px;
         font-style: oblique;

     }

     .sticky-navbar #nav-menu {
         background: #f4f9f400;
     }

     .sticky-navbar #nav-menu a:hover {
         font-size: 1.35em;
         transition: fontsize 0.15s ease;
         background: rgba(0, 0, 0, 0);
         padding: 0 1em;
         color: black;
     }

     .sticky-navbar .current {
         color: inherit;
         padding-bottom: 10px;
         border-bottom-style: solid;
         border-bottom-width: 3.1px;
         width: fit-content;
     }

     .sticky-navbar #nav-menu a {
         color: rgba(44, 42, 42, 0.952);
     }

 }